@import 'variables.scss';

// Global

// 1rem = 10px
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    line-height: 2.6rem;
    font-family: $primary_font;  
    color: $primary_color; 
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: $secondary_font;
    font-weight: 400;
}

img{
    max-width: 100%;
    height: auto;
    border: 0;
}