@import 'variables.scss';

// Global

// 1rem = 10px
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    line-height: 2.6rem;
    font-family: $primary_font;
    color: $primary_color;
    background: $bg_color;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

ul , li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary_font_bold;
    font-weight: 400;
    margin: 0;
}

img {
    max-width: 100%;
    block-size: auto;
    object-fit: cover;
    border: 0;
}

button, .btn {
    background: none;
    border: none;
    font-size: inherit;
    color: inherit;
    font-weight: 700;
    cursor: pointer;
}