@import 'fonts.scss';

// Fonts
$primary_font : $font_inter_regular;
$primary_font_bold : $font_inter_bold;

// Colors
$primary_color : #444;
$secondary_color : #333;
$selection_bg_color : #FFFFCF;
$active_links : #cc3300;
$bg_color : #fff