@import 'fonts.scss';

// Fonts
$primary_font : $font_lora;
$primary_font_italic : $font_lora_italic;
$secondary_font : $font_coustard;
$logo_font : $font_UnifrakturMaguntia;

// Colors
$primary_color : #444;
$secondary_color : #333;
$selection_bg_color : #FFFFCF;
$active_links : #cc3300;
$bg_color : #fff